<div class="row">
    <div class="col-md-7">
        <span class="inner">
            <img src= "../../../assets/images/samsung-products/samsung-galaxy-a52-4g-10.jpg"
            alt="" class="img-responsive" style="max-width: 700px;">
        </span>
    </div>
    <div class="col-md-5">
        <h3>Product Name</h3>
        <p>Price: 33,490TK</p>
        <h4>Detalisdkajdladada dadkajdakdl;akda dajdladladlkjakdad ahfsfkshajdlad dhadhadhada;kdjahfs dsahdiahdoajd.akdpaoda adiajdlajdadja dajdlajdlajdadoa dadajdaojdajd</h4>
        <button class="btn btn-success">Buy Now</button>&nbsp;
        <button class="btn btn-success">Add to Cart</button>
    </div>
</div>