<div class="row">
    <div class="col-md-7">
        <span class="inner">
            <img [src]= "products.imagePath"
            alt="" class="img-responsive" style="max-width: 700px;">
        </span>
    </div>
    <div class="col-md-5">
        <h3>{{products.name}}</h3>
        <p>Price: {{products.price}} TK</p>
        <h4>{{products.details}}</h4>
        <button class="btn btn-success">Buy Now</button>&nbsp;
        <button class="btn btn-success">Add to Cart</button>
    </div>
</div>