<div class="grid-header"> 
    <div class="header1">
        <div>
            <a href="/#/"><fa-icon [icon]="faPhone"></fa-icon>&nbsp; 09638111666&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="/#/"><fa-icon [icon]="faMailBulk"></fa-icon>&nbsp; support@evaly.com.bd</a>
        </div>
        <div>
            <a href="#"><fa-icon [icon]="faMobile"></fa-icon>&nbsp;Save big on our app!</a>
        </div>
    </div>

    <div class="header2">
        <div class="brand">
            <a href="/#/"><img src="../../../assets/images/evaly-logo.png" /></a>
        </div>
        <div>
            <a href="/#/"><fa-icon [icon]="faShoppingBag"></fa-icon></a>&nbsp;&nbsp;
            <a href="/#/"><fa-icon [icon]="faBell"></fa-icon></a>&nbsp;&nbsp;
            <a href="/#/"><fa-icon [icon]="faComment"></fa-icon></a>&nbsp;&nbsp;
            <a href="/#/"><fa-icon [icon]="faUser"></fa-icon></a>&nbsp;
        </div>
    </div>

    <div class="header3">
        <div>
            <a href="#" id="categories">&nbsp;≡ &nbsp;CATEGORIES &nbsp;&nbsp;˅&nbsp;</a> &nbsp; &nbsp; &nbsp;
        </div>
        <div>
            <a href="#">All Shops</a> &nbsp;
            <a href="#">Gift Card</a>&nbsp;
            <a href="#">Campaigns</a>&nbsp;
            <a href="#">Express</a>&nbsp;
            <a href="#">Cyclone</a> &nbsp;
        </div>
        <div>
            <a href="#">News Feed</a>&nbsp;
            <a href="#">Marchant Zone</a>&nbsp;
            <a href="#">Help</a>&nbsp;
        </div>
    </div>
</div> 