<div class="slider">
    <div class="grid-slider">
        <div class="content-table">
            <table class="table">
                <tr class="data"><td><a href="#">Desktop<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight" ></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Laptop<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Men's Watch<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Microwave Oven<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td>
                <tr class="data"><td><a href="#">Motor Bike<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Refrigerator<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Smart Phone<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Smart TV & Android TV<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Speaker<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
                <tr class="data"><td><a href="#">Split AC<fa-icon [ngStyle]="{ float: 'right'}" [icon]="faAngleRight"></fa-icon></a></td></tr>
            </table>
        </div>
        <div class="image-slider">
            <app-image-slider></app-image-slider>
            
        </div>        
    </div>
</div>
