.slider {
    grid-area: slider;
}
.grid-slider .content-table {
    display: block;
    block-size: 1rem;
}

.data {
    display: table;
    margin-top: 10px;
    block-size: 3rem;
    width: 25rem;
    align-items: center;
    border-bottom: 1px solid #EAE4E4;
}
.grid-slider .image-slider{
    padding-left: 27rem;
} 