.grid-container{
    display: grid;
    grid-template-areas: 
    "slider"
    "product-list"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50rem 1fr 6rem ;
    height: 100%;
}

app-slider {
    grid-area: slider;
}
.product-area{
    grid-area: product-list;
}
