.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "slider"
    "product-list"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 14rem 50rem 1fr 6rem ;
    height: 100%;
}
app-header {
    grid-area: header;
}
app-slider {
    grid-area: slider;
}