<div class="product-slider">
    <h3>Shop by Brands</h3>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/apple.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/samsung.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/oppo.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/oneplus.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/mi.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/apple.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/samsung.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/oppo.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/oneplus.jpg">
        </ng-template>
        &nbsp;&nbsp;
        <ng-template carouselSlide>
            <img src="../../assets/images/product-brands-mobile/mi.jpg">
        </ng-template>
        &nbsp;&nbsp;
    </owl-carousel-o>
     
</div>
